<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>购买记录</title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.1/lib/theme-chalk/index.css"/>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@2.2.1/lib/index.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
</head>
<body>
<div id="app">
    <div style="padding-top: 30px;">
        <el-row :gutter="10" type="flex" justify="center">
            <el-col :span="3">姓名：{{buyer.name}}</el-col>
            <el-col :span="3">手机号：{{buyer.mobile}}</el-col>
            <el-col :span="3">总金额：{{total}}元</el-col>
        </el-row>
    </div>
    <el-dialog title="新增购买记录" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="描述">
                <el-input v-model="form.description"></el-input>
            </el-form-item>
            <el-form-item label="交易额">
                <el-input v-model="form.amount"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="addBuyHistory">确 定</el-button>
        </div>
    </el-dialog>
    <div style="padding-top: 30px;">
        <template>
            <el-row type="flex" justify="center">
                <el-col :span="16">
                    <template>
                        <el-table :data="buyHistoryList" stripe height="500">
                            <el-table-column prop="description" label="描述" align="center"></el-table-column>
                            <el-table-column prop="amount" label="交易额" width="180" align="center">
                            </el-table-column>
                            <el-table-column prop="createTime" label="交易时间" align="center"
                                             width="180"></el-table-column>
                            <el-table-column label="操作" align="center" width="100">
                                <template scope="scope">
                                    <el-button @click="remove(scope.row.id)" type="danger" icon="el-icon-delete">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-col>
            </el-row>
        </template>
    </div>
    <div style="padding-top: 30px;">
        <el-row :gutter="10" type="flex" justify="center">
            <el-col :span="4" >
                <el-button icon="el-icon-plus" @click="dialogFormVisible = true" type="success" round>增加</el-button>
            </el-col>
        </el-row>
    </div>
</div>
<script>
    //    Vue.http.options.emulateJSON = true;
    Vue.http.options.emulateHTTP = true;
    var vue = new Vue({
        el: "#app",
        data: {
            buyerId: 1,
            buyHistoryList: [],
            dialogFormVisible: false,
            form: {},
            buyer:{},
            total:0
        },
        methods: {
            getPage: function () {
                // GET /someUrl
                this.$http.get("/buyHistory/select", {params: {buyerId: this.buyerId}}).then(function (response) {

                        // get body data
                        this.buyHistoryList = response.body;
                        this.total = 0;
                        for(var i = 0;i < this.buyHistoryList.length;i++){
                            this.total = this.total + this.buyHistoryList[i].amount;
                        }
                    }, function (response) {
                        // error callback
                        return
                    }
                )
                ;
            },
            addBuyHistory: function () {
                this.dialogFormVisible = false;
                this.$http.post("/buyHistory/insert",
                    {buyerId: this.buyerId, amount: this.form.amount, description: this.form.description}
                ).then(function (response) {
                        this.getPage();
                    }, function (response) {
                        // error callback
                    }
                )
                ;
            },
            remove: function (id) {
                this.$http.post("/buyHistory/delete", {id: id}, {emulateJSON: true}).then(function (response) {
                    this.getPage();
                }, function (response) {
                    alert("删除失败");
                });
            },
            getBuyer:function () {
                this.$http.get("/buyer/getById", {params: {id: this.buyerId}}).then(function (response) {

                        // get body data
                        this.buyer = response.data;
                    }, function (response) {
                        // error callback
                        return
                    }
                )
                ;
            }
        }
    });
    vue.getBuyer();
    vue.getPage();
</script>
</body>
</html>