<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changlu.tribune.mapper.BuyHistoryMapper">
    <insert id="insert">
        INSERT INTO buy_history(buyer_id,amount,description,create_time)
        VALUES (#{buyHistory.buyerId},#{buyHistory.amount},#{buyHistory.description},NOW())
    </insert>

    <delete id="delete">
        DELETE FROM buy_history WHERE id = #{id}
    </delete>

    <select id="select" resultType="com.changlu.tribune.model.BuyHistory">
        SELECT * FROM buy_history WHERE buyer_id = #{buyerId}
    </select>

</mapper>